 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.carousel-item {
    transition: opacity 0.7s ease-in-out;
}

.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

/* .nav-link.active {
  text-decoration: underline;
  text-decoration-color: white;
} */

.nav-link.active::after {
    width: 100%;
}

.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background: linear-gradient(to right, #00CAFF, #0099CC);
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background: linear-gradient(to right, #0099CC, #0080AA);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 202, 255, 0.3);
}
